<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<link th:href="@{/css/index.css}" rel="stylesheet" />
<meta charset="UTF-8" />
<title>index</title>
</head>
<body>
	<section layout:fragment="content">
		<div sec:authorize="hasRole('ROLE_ADMIN')">
			<p sec:authentication="name"></p>
		</div>
		<div sec:authorize="hasRole('ROLE_USER')">
			<p sec:authentication="name"></p>
		</div>
		<div class="container body-content" style="Margin-top: 55px">
			<h2 class="text-center">Welcome to Javanderia</h2>
			<img style="margin: 0 auto; margin-top: 10px;" class="img-responsive"
				src="img/java.jpg" />
		</div>
	</section>


</body>
</html>