<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
<head>
<link th:href="@{/css/index.css}" rel="stylesheet" />
<meta charset="UTF-8" />
<title>index</title>
</head>
<body class="aae">
	<header>
		<div style="heigth: 90px; margin-bottom: 80px;">
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div>
					<a class="navbar-brand" th:href="${ '/'}">Javanderia</a> <a
						class="navbar-brand" th:href="${ '/cliente/'}">Clientes</a>
					<div sec:authorize="isAuthenticated()">
					</div>
				</div>
			</div>
		</div>
	</header>
	<section layout:fragment="content"></section>
	<footer>
		<p layout:fragment="custom-footer">Footer</p>
	</footer>
</body>
</html>