
@{
    Layout = null;
}
<!doctype html>

<html>
<head>
    <link rel="stylesheet" href="~/Content/CSS/StyleSheet1.css" />
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <header>
        <div class="cabecalho">
            <p class="text"><font color="white">Locadora SenuN</font></p>
        </div>
        <img src="~/Content/Image/image.jpg" class="centrar" />
        <input type="button" class="botao" value="DONTCLICKONME" onclick="location.href='@Url.Action("JogosDisponiveis", "Relatorio")'"/> 
    </header>
    
    
</body>
</html>

