<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<link th:href="@{/css/allFiles.css}" rel="stylesheet" />
<meta charset="UTF-8" />
<title>index</title>
</head>
<body>
<section layout:fragment="content" class="box texto">
<h2>Cadastro</h2>
<form class="dados" th:action="@{/cliente/cadastrar}" th:object="${cliente}" method="post">
	
			<input th:field="*{id}" type="hidden" />
			<p class="form-group">
				<label class="col-sm-2 control-label">Nome: </label>
				<input th:field="*{nome}" type="text"/>
				<div class="form-group" th:classappend="${#fields.hasErrors('nome')} ? 'has-error'">	
											<span class="help-inline" th:errors="*{nome}"></span>
				</div>
			</p>
			
			<p class="form-group">
				<label class="col-sm-2 control-label">CPF: </label>
		 		<input th:field="*{cpf}" type="text"/>
		 						<div class="form-group" th:classappend="${#fields.hasErrors('cpf')} ? 'has-error'">	
											<span class="help-inline" th:errors="*{cpf}"></span>
				</div>
			</p>
			
			<p class="form-group">
		 		<label class="col-sm-2 control-label">Email: </label>
		 		<input th:field="*{email}" type="text"/>
		 		<div class="form-group" th:classappend="${#fields.hasErrors('email')} ? 'has-error'">	
											<span class="help-inline" th:errors="*{email}"></span>
				</div>
		 		
	 		</p>
	 		<p class="form-group">
		 		<label class="col-sm-2 control-label">Endereco: </label>
		 		<input th:field="*{endereco}" type="text"/>
	 		</p>
	 		<p class="form-group">
		 		<label class="col-sm-2 control-label">Cidade: </label>
		 		<select th:field="*{idCidade}">
	                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
	            </select>
            </p>
             
            <p class="form-group">
		 		<label class="col-sm-2 control-label">Bairro: </label>
		 		<input th:field="*{bairro}" type="text"/>
	 		</p>
	 		
	 	    <p class="form-group">
		 		<label class="col-sm-2 control-label">UF: </label>
		 		<input th:field="*{uf}" type="text"/>
	 		</p>
	 		
	 		<p class="form-group">
		 		<label class="col-sm-2 control-label">CEP: </label>
		 		<input th:field="*{cep}" type="text"/>
	 		</p>
	 		<button class= "btn btn-primary btn-md botaoCadastrar" type="submit">Salvar</button>
		</form>
</section>

</body>
</html>