<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<link href="css/bootstrap.css" rel="stylesheet" />
<head>
<link th:href="@{/css/allFiles.css}" rel="stylesheet" />
<meta charset="UTF-8" />
<title>index</title>
</head>
<body>
<section layout:fragment="content" class="box texto">
<h2>Visualizar</h2>
		<form th:object="${cliente}">			
			<p class="form-group">
				<label class="col-sm-2 control-label">Nome: </label>
				<input th:field="*{nome}" type="text" disabled="true" />
			</p>
			
			<p class="form-group">
				<label class=" col-sm-2 control-label">CPF: </label>
		 		<input th:field="*{cpf}" type="text" disabled="true"/>
			</p>
			
			<p class="form-group">
		 		<label class="col-sm-2 control-label">Email: </label>
		 		<input th:field="*{email}" type="text" disabled="true"/>
	 		</p>
	 		<p class="form-group">
		 		<label class="col-sm-2  control-label">Endereco: </label>
		 		<input th:field="*{endereco}" type="text" disabled="true"/>
	 		</p>
	 		<p class="form-group">
		 		<label class="col-sm-2  control-label">Cidade: </label>
		 		<select th:field="*{idCidade}" disabled="true">
	                <option th:each="c : ${cidades}" th:text="${c.nome}" th:value="${c.idCidade}" ></option>
	            </select>
            </p>
             
            <p class="form-group">
		 		<label class="col-sm-2  control-label">Bairro: </label>
		 		<input th:field="*{bairro}" type="text" disabled="true"/>
	 		</p>
	 		
	 	    <p class="form-group">
		 		<label class="col-sm-2  control-label">UF: </label>
		 		<input th:field="*{uf}" type="text" disabled="true"/>
	 		</p>
	 		
	 		<p class="form-group">
		 		<label class="col-sm-2  control-label">CEP: </label>
		 		<input th:field="*{cep}" type="text" disabled="true"/>
	 		</p>
		</form>

</section>
	
	
</body>
</html>