<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">	
<head>
<link th:href="@{/css/lista.css}" rel="stylesheet" />
<link th:href="@{/css/allFiles.css}" rel="stylesheet" />
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content" class="box texto">
	 <h2>Pedidos</h2>
	 <p th:text="${Mensagem}"></p>
	 <a class="btn btn-primary btn-md botaoCadastrar pull-right" 
	 	th:href="${ '/pedido/cadastropedido/' + pedidos.idCliente}">Cadastrar Pedido</a>
		<table
				class="table table-striped table-bordered table-hover table-responsive table-condensed ">
				<thead>
					<tr>
						<th style="width: 10%">CPF</th>
						<th style="width: 10%">Nome Cliente</th>
						<th style="width: 10%">Data Inclusao</th>
						<th style="width: 10%">Valor</th>
						<th style="width: 10%">Situacao</th>
						<th style="width: 10%">Incluir Item</th>
						<th style="width: 10%">Itens</th>
						<th style="width: 10%">Alterar para</th>
					</tr>
				</thead>
				<tr th:each="pedido : ${pedidos.pedidosVInculados}">
					<td th:text="${pedidos.cpf}"></td>
					<td th:text="${pedidos.nomeCliente}"></td>
					<td th:text="${pedido.dataInclusao}"></td>
					<td th:text="${pedido.valor}"></td>
					<td th:text="${pedido.situacao}"></td>
					<td th:if="${pedido.situacao.toString()} == PENDENTE"><a th:href="${ '/pedido/cadastro/itemcadastro/' + pedido.idPedido}">Incluir</a></td>
					<td  th:if="${pedido.situacao.toString()} != PENDENTE">Incluir</td>
					<td><a th:href="${ '/pedido/itens/' + pedido.idPedido}">Visualizar</a></td>
					<td th:if="${pedido.situacao.toString()} == PENDENTE"><a th:href="${ '/pedido/clientepedidos/processando/' + pedido.idPedido}">Processando</a></td>
					<td  th:if="${pedido.situacao.toString()} != PENDENTE">Processando</td>
				</tr>
			</table>
	</section>
</body>
</html>