@{
    ViewBag.Title = "Página Inicial";
}
<header>
    <h2 class="text-center">Locadora CWI Crescer</h2>
    <a href="/Relatorio/JogosDisponiveis">Jogos Disponíveis</a>
</header>
<img style="margin:0 auto " class="img-responsive"  src="~/Content/img/Chars.png"/>
<h2 class="text-center textcolor">SenuN Games</h2>

