@{
    ViewBag.Title = "Página Inicial";
}
<header>
    <h2 class="text-center">Locadora CWI Crescer</h2>
    <form action="@Url.Action("JogosDisponiveis", "Jogo")" method="get">
        <label for="nome">Pesquisa por nome: </label>
        <input type="text" name="nome" value="" />

        <input type="submit" value="Pesquisar" />
    </form>
 </header>
<img style="margin:0 auto " class="img-responsive" src="@Url.Content("~/Content/img/Chars.png")" />
<h2 class="text-center textcolor">SenuN Games</h2>
