@{
    ViewBag.Title = "Página Inicial";
}
<header>
    <h2>Locadora CWI Crescer</h2>
    <a href="/Relatorio/JogosDisponiveis">Jogos Disponíveis</a>
</header>
<img style="margin:0 auto " class="img-responsive"  src="~/Content/img/molejo.jpg" />
<h3 class="text-center textcolor">Bom é ser feliz com o molejão!</h3>

