<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<link th:href="@{/css/allFiles.css}" rel="stylesheet" />
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content" class="box texto">
	<form th:action="@{/produto/buscar}" th:object="${produto}"  method="POST">
	            
           <p class="form-group">
		 		<label class="col-sm-2 control-label">Serviço: </label>
		 		<select th:field="*{idServico}">
		 			<option th:value="${null}"></option>
	                <option th:each="s : ${servicos}" th:text="${s.descricao}" th:value="${s.idServico}" ></option>
	            </select>
            </p>
            
		 	<p class="form-group">
		 		<label class="col-sm-2 control-label">Material: </label>
		 		<select th:field="*{idMaterial}">
		 			<option th:value="${null}"></option>
	                <option th:each="m : ${materiais}" th:text="${m.descricao}" th:value="${m.idMaterial}" ></option>
	            </select>
            </p>
            <button class= "btn btn-primary btn-md botaoCadastrar" type="submit">Salvar</button>
            </form>
	</section>
</body>
</html>