<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org" layout:decorator="layout">
<head>
<link th:href="@{/css/allFiles.css}" rel="stylesheet" />
<meta charset="UTF-8" />
<title>Insert title here</title>
</head>
<body>
	<section layout:fragment="content" class="box texto">
		<h2>Cadastro Produto</h2>
		<p th:text="${Mensagem}"></p>
		<form class="dados" th:action="@{/produto/cadastrar}" th:object="${produto}" method="post">
			<input th:field="*{idProduto}" type="hidden" />
	 		<p class="form-group">
		 		<label class="col-sm-2 control-label">Material: </label>
		 		<select th:field="*{idMaterial}">
	                <option th:each="m : ${materiais}" th:text="${m.descricao}" th:value="${m.idMaterial}" ></option>
	            </select>
            </p>
            
           <p class="form-group">
		 		<label class="col-sm-2 control-label">Serviço: </label>
		 		<select th:field="*{idServico}">
	                <option th:each="s : ${servicos}" th:text="${s.descricao}" th:value="${s.idServico}" ></option>
	            </select>
            </p>
			
			<p class="form-group">
		 		<label class="col-sm-2 control-label">Valor: </label>
		 		<input th:field="*{valor}" type="text"/>
		 		<div class="form-group" th:classappend="${#fields.hasErrors('valor')} ? 'has-error'">	
											<span class="help-inline" th:errors="*{valor}"></span>
				</div>	
	 		</p>
			
			<p class="form-group">
		 		<label class="col-sm-2 control-label">Prazo: </label>
		 		<input th:field="*{prazo}" type="text"/>
		 		<div class="form-group" th:classappend="${#fields.hasErrors('prazo')} ? 'has-error'">	
											<span class="help-inline" th:errors="*{prazo}"></span>
				</div>	
	 		</p>
	 		
	 		<button class= "btn btn-primary btn-md botaoCadastrar" type="submit">Salvar</button>
			</form>
	</section>
</body>
</html>