@model DescricaoModel
@{
    ViewBag.Title = "Descricao";
}


<h2 class="text-center">@Model.Nome</h2>
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th style="width:40%">Jogo</th>
            <th style="width:30%">Categoria</th>
            <th style="width:30%">Descricao</th>
        </tr>
    </thead>
    <tr>
        <td>@Model.Nome</td>
        <td>@Model.Categorias.ToString()</td>
        <td>@Model.Descricao</td>
    </tr>
</table>
<img src=Model.Imagem />