@{
    ViewBag.Title = "Página Inicial";
}
<header>
    <h2 class="text-center">Locadora CWI Crescer</h2>
 </header>
<div>
    <form class="text-center" action="@Url.Action("JogosDisponiveis", "Jogo")" method="get">
        <label for="nome">Pesquisa por nome: </label>
        <input type="text" name="nome" value="" />
        <button type="submit" class="btn btn-primary btn-md ">Pesquisar</button>
    </form>
    <div class="text-center" style="margin-left:540px; margin-top:-34px;">
        <input type="button" value="Todos Jogos" class=" btn btn-primary btn-md " style="margin-left:-30px;" onclick="location.href='@Url.Action("JogosDisponiveis","Jogo")'" />
    </div>
  </div>
   

<img style="margin:0 auto; margin-top:10px;" class="img-responsive" src="@Url.Content("~/Content/img/Chars.png")" />
<h2 class="text-center textcolor">SenuN Games</h2>
